<div id="header">
    <ng-header></ng-header>
</div>
<div class="container-fluid">
    <div class="row">
        <ng-main></ng-main>
        <ng-downloads></ng-downloads>
        <ng-newsletter></ng-newsletter>
        <ng-seen-on></ng-seen-on>
        <ng-hello></ng-hello>
        <ng-contact></ng-contact>
    </div>
</div>
<div id="footer">
    <ng-footer></ng-footer>
</div>

