<section id="contact" class="contact bg-primary">
    <div class="container">
        <h2>We <i class="fa fa-heart"></i> new friends!</h2>
        <ul class="list-inline list-social">
            <li class="social-twitter">
                <a href="https://twitter.com/hashtag/sydneydrugs" target="_blank"><i class="fa fa-twitter"></i></a>
            </li>
            <li class="social-facebook">
                <a href="https://www.facebook.com/sydneydrugs/" target="_blank"><i class="fa fa-facebook"></i></a>
            </li>
            <li class="social-google-plus">
                <a href="mailto:help@sydneydrugs.com" target="_top"><i class="fa fa-envelope"></i></a>
            </li>
        </ul>
    </div>
</section>