<div class="downloads">

    <!--TODO : Need to move id features once we got the features section-->
    <section id="features" class="section-1">
        <div class="container">
            <div class="col-md-offset-1 col-md-10 col-lg-offset-1 col-lg-10">
                <h2>For an annual subscription, we provide you with access to markup free prescriptions.</h2>
            </div>
        </div>
    </section>

    <section class="section-2">
        <div class="container">
            <div class="col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                <h2>We think Pharmacy is a noble profession.</h2>
                <h4>We also think money should not come before ethics. That is why we are dismantling pharmacy and completely rebuilding it.</h4>
            </div>
        </div>
    </section>

    <section class="section-3">
        <div class="divider"></div>
        <div class="clearfix"></div>
        <div id="downloads" class="container">
            <div class="col-md-offset-2 col-md-8 col-lg-offset-2 col-lg-8">
                <h2>Drug pricing on your fingertips. #GodMode</h2>
                <img class="logo" src="../../../../images/SDIcon.png">
                <h3>Discover this powerful app</h3>
                <p>Our app is available on any mobile device. Download now to get started.</p>
                <div class="badges">
                    <a ng-if="!isIOSDevice" class="badge-link" href="javascript:;"><img src="../../../../images/google-play-badge.svg" alt=""></a>
                    <a ng-if="!isAndroidDevice" class="badge-link" href="javascript:;"><img src="../../../../images/app-store-badge.svg" alt=""></a>
                </div>
            </div>
        </div>
    </section>
</div>