<footer>
    <div class="container">
        <div>
            <span class="h5">&copy;<span class="h5"> Cloud Pharmacy Services Pty Ltd.<br>  All Rights Reserved.</span></span>
        </div>
        <ul class="list-inline">
            <li>
                <a href="javascript:;">Terms and conditions</a>
            </li>
            <li>
                <a href="https://support.sydneydrugs.com" target="_blank">Support</a>
            </li>
        </ul>
    </div>
</footer>