<nav id="fixed-header" class="navbar navbar-default navbar-fixed-top header">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <div class="col-xs-8 no-padding">
                <a class="navbar-brand page-scroll" href="javascript:" ng-click="scrollTo('main-container')">
                    <img class="sd-logo" alt="" src="https://d26ylqsdsxp8yv.cloudfront.net/SD-Logo.png">
                </a>
            </div>
            <div class="col-xs-4 no-padding">
                <button type="button" ng-click="showBars=!showBars" class="navbar-toggle collapsed" data-toggle="collapse"
                        data-target="#menu-bar">
                    <span class="sr-only">Toggle navigation</span><i class="fa" ng-class="{'fa-bars': showBars, 'fa-times': !showBars}"></i>
                </button>
            </div>
        </div>
        <div id="menu-bar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="javascript:" ng-click="scrollTo('downloads')">DOWNLOAD</a></li>
                <li><a href="javascript:" ng-click="scrollTo('features')">FEATURES</a></li>
                <li><a href="javascript:" ng-click="scrollTo('newsletter')">NEWSLETTER</a></li>
                <li><a href="javascript:" ng-click="scrollTo('contact')">CONTACT</a></li>
            </ul>
        </div>
    </div>
</nav>