<section id="main" class="main">
    <div class="container">
        <div class="col-md-10 col-lg-10 col-sm-12 col-xs-12 text-right">
            <h2>We are a new kind of pharmacy.</h2>
            <h2>We are a PhaaS.</h2>
            <h2>(Pharmacy as a Service)</h2>
        </div>
    </div>
</section>