<div class="newsletter-container">
    <section id="newsletter" class="newsletter">
        <div class="container">
            <!-- PAGE HEADER -->
            <div class="page-header text-center"><h1>Join our quarterly newsletter</h1></div>
            <div class="row">
                <div class="center-block">
                    <div class="col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6 col-xs-12">
                        <form class="newsletter-form" name="newsletterForm"
                              ng-submit="submitForm(newsletterForm.$valid)"
                              novalidate>

                            <!-- FIRST NAME -->
                            <div class="form-group"
                                 ng-class="{ 'has-error' : newsletterForm.firstName.$invalid && submitted }">
                                <input type="text" name="firstName" placeholder="First Name" class="form-control"
                                       ng-model="user.firstName" required>
                                <p ng-hide="newsletterForm.firstName.$valid || !submitted" class="help-block text-left">First Name
                                    is
                                    required</p>
                            </div>

                            <!-- LAST NAME -->
                            <div class="form-group"
                                 ng-class="{ 'has-error' : newsletterForm.lastName.$invalid && submitted }">
                                <input type="text" name="lastName" placeholder="Last Name" class="form-control"
                                       ng-model="user.lastName"
                                       required>
                                <p ng-hide="newsletterForm.lastName.$valid || !submitted" class="help-block text-left">Last Name
                                    is
                                    required</p>
                            </div>

                            <!-- EMAIL -->
                            <div class="form-group"
                                 ng-class="{ 'has-error' : newsletterForm.email.$invalid && submitted }">
                                <input type="email" name="email" placeholder="Email" class="form-control"
                                       ng-model="user.email"
                                       pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>
                                <p ng-hide="newsletterForm.email.$valid || !submitted" class="help-block text-left">Email format
                                    should be
                                    <small><b>joe@abc.com</b></small>
                                </p>
                            </div>

                            <!-- Mobile Number -->
                            <div class="form-group"
                                 ng-class="{ 'has-error' : newsletterForm.mobilenumber.$invalid && submitted }">
                                <input type="tel" name="mobilenumber" placeholder="Mobile Number" class="form-control"
                                       ng-model="user.mobilenumber" minlength="10" maxlength="10" pattern="^[0-9]\d{9}$"
                                       required>
                                <p ng-hide="newsletterForm.mobilenumber.$valid || !submitted" class="help-block text-left">Mobile
                                    number
                                    should
                                    contains 10 digits</p>
                            </div>

                            <button type="submit" class="btn btn-success">Subscribe</button>

                        </form>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </section>
    <div class="divider"></div>
</div>