<section id="seen-on" class="seen-on">
    <div class="container">
        <h2>As Seen On</h2>
        <div class="col-md-12 text-center">
            <div class="col-md-1 col-lg-1 col-sm-2 col-xs-3 divider"></div>
            <div class="clearfix"></div>
        </div>
        <div class="row clients-container">
            <a><img src="../../../images/marie-claire.png"/></a>
            <a><img src="../../../images/djwe-haya.png"/></a>
            <a><img src="../../../images/marie-claire.png"/></a>
            <a><img src="../../../images/djwe-haya.png"/></a>
            <a><img src="../../../images/marie-claire.png"/></a>
            <a><img src="../../../images/djwe-haya.png"/></a>
        </div>
    </div>
</section>