@media (max-width: 767px) {
  section.contact ul.list-social li a {
    height: 55px !important;
    width: 55px !important;
    line-height: 55px !important;
  }
}

section.contact {
  padding: 100px 0;
  color: grey;
  background: linear-gradient(#e7e7e6,#e7e7e6);
  text-align: center;

  h2 {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 40px;

    i {
      color: #dd4b39;
    }
  }

  ul.list-social {
    margin-bottom: 0;

    li {
      a {
        display: block;
        height: 80px;
        width: 80px;
        line-height: 80px;
        font-size: 40px;
        border-radius: 100%;
        color: white;
      }

      &.social-twitter a {
        background-color: #1da1f2;
        &:hover {
          background-color: #1da1f2;
        }
      }

      &.social-facebook a {
        background-color: #3b5998;
        &:hover {
          background-color: #344e86;
        }
      }

      &.social-google-plus a {
        background-color: #dd4b39;
        &:hover {
          background-color: #d73925;
        }
      }

    }
  }
}
