.downloads section {
  font-family: sans-serif;
  padding: 0 200px;
  &.section-1 {
    background: linear-gradient(#e7e7e6, #e7e7e6);
    padding: 50px 0;
    color: #2d2d2c;
    text-align: center;

    .container {
      h2 {
        font-weight: bold;
      }
    }
  }

  &.section-2 {
    background: white;
    padding: 50px 0;
    color: #424240;
    text-align: right;

    .container {

      h2, h4 {
        font-weight: bold;
      }
    }
  }

  &.section-3 {
    background: linear-gradient(#e7e7e6, #e7e7e6);
    padding: 50px 0;
    color: #2d2d2c;
    text-align: center;
    padding-top: 50% !important;

    .divider {
      height: 5px;
      background: #8c8c8c;
      width: 30%;
      left: 0;
      right: 0;
      margin: 0 auto;
    }

    .container {

      .logo {
        padding: 25px 0;
        width: 15%;
      }

      h2 {
        font-weight: bold;
      }

      h3, p {
        color: grey;
      }

      .badges {
        margin-top: 10px;

        .badge-link {
          display: block;
          margin-bottom: 25px;

          @media (min-width: 768px) {
            display: inline-block;
            margin-bottom: 0;
          }

          &:last-child {
            margin-bottom: 0;
          }

          img {
            height: 50px;
          }
        }
      }
    }
  }
}