footer {
  background-color: #484641;
  padding: 25px 0;
  color: white;
  text-align: center;
  font-family: sans-serif;

  h4 {
    margin: 0;
  }

  p {
    font-size: 12px;
    margin: 0;
  }

  ul {
    margin-bottom: 0;
  }

  ul li a {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.3);
  }

  ul li a:hover, ul li a:focus, ul li a:active {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.3);
  }
}