#header {
  .navbar-default {
    background-color: transparent;
    border: none;
    -webkit-transition: all 0.35s;
    -moz-transition: all 0.35s;
    transition: all 0.35s;
    font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
    font-weight: 200;
    letter-spacing: 1px;

    .no-padding {
      padding: 0 !important;
    }

    &.affix {
      background-color: #1CA620;
      border-color: rgba(34, 34, 34, 0.05);
    }

    .navbar-header {

      .fa {
        font-size: 12px;
      }

      .navbar-brand {
        padding: 0;
        img {
          width: 116%;
          position: relative;
          left: 28%;
          right: 30%;
          bottom: 3px !important;
        }
      }

      .navbar-toggle {
        font-size: 12px;
        color: #222222;
        padding: 8px 10px;
        background-color: #1cab20;

        &:hover {
          background-color: #1cab20;
        }
      }

    }

    .nav > li {
      a {
        font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 11px;
        color: #222222;
        &:hover, &:focus:hover {
          color: #fdcc52;
        }
      }

      &.active, &.active > a:focus {
        color: #fdcc52;
      }
    }
    @media (max-width: 767px) {
      .navbar-collapse {
        background-color: #1CA620;
      }
      .navbar-brand {
        padding: 0 15px !important;

        img {
          left: 0 !important;
          max-width: 100% !important;
        }
      }
    }

    @media (max-width: 500px) and (orientation: portrait) {
      .navbar-header .navbar-brand img {
        bottom: 0 !important;
      }
    }

    @media (min-width: 768px) {
      .nav > li {
        a, a:focus {
          color: rgba(255, 255, 255, 0.7);
        }

        a:hover, a:focus:hover {
          color: white;
        }
      }

      .affix {
        .nav > li {
          a, a:focus {
            color: #222222;
          }

          a:hover, a:focus:hover {
            color: #fdcc52;
          }
        }
      }

    }

  }
}