section.main {
  /*overflow-y: hidden;*/
  background: url("../../../images/bg-pattern.png"), #7b4397;
  /* fallback for old browsers */
  background: url("../../../images/bg-pattern.png"), -webkit-linear-gradient(to left, #1CAB20, green);
  /* Chrome 10-25, Safari 5.1-6 */
  background: url("../../../images/bg-pattern.png"), linear-gradient(to left, #1CAB20, green);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;

  padding: 200px 0 150px 0;
  h2 {
    font-weight: bold;
  }
}