.newsletter-container {
  section.newsletter {
    padding: 25px 0 50px 0;
    form.newsletter-form {
      padding: 30px;
      border: 1px solid #ccc;
      border-radius: 20px;
      box-shadow: 0 0 10px #ccc;
      background: #fff;
      text-align: center;

      input {
        font-family: sans-serif !important;

        &[type="number"] {
          -moz-appearance: textfield;

          &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }

      button {
        background-color: #ce2221;
        border: 0 solid #ce2221;
        color: #e4d0d0;
        width: 150px;
        padding: 7px;
        margin-top: 18px;
        font-size: 18px;
        font-family: Lato,Helvetica,Arial,"sans-serif";
        letter-spacing: 2px;
        border-radius: 300px;
      }
    }
  }

  .divider {
    height: 5px;
    background: linear-gradient(#e7e7e6, #e7e7e6);
    width: 100%;
  }
}
