section.seen-on {
  background: white;
  padding: 25px 0;
  .container {
    h2 {
      color: black;
      text-align: center;
      padding-bottom: 10px;
    }
    .divider {
      position: absolute;
      left: 0;
      right: 0;
      margin: 0 auto;
      height: 1px;
      background: black;
    }

    .clients-container {
      a img {
        width: 15%;
        height:15%;
      }
    }
  }
}